<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">My Dashboard</h5>
          <h4>{{this.Inventory}}</h4>
          <p>
            <strong>Name</strong>: {{}}</p>
          <p>
            <strong>Username:</strong> {{}}</p>
             <p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
