.jumbotron {
    background-color:  rgba(31, 31, 35, 0.993);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcy7iRaLAA5c749M4pUu07qMBM6f1xTB7D1ExUD6H_k7Bg2hNm");
    background-repeat: no-repeat;
    
    /* background-size: 00px; */
    /* background-image: url("../../Jumbotron/style.css/double B.png") */
}
h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #7f9bf0;
}

h2{
    font-size:30px;
    color: white;
    text-shadow: 2px 2px 4px #7f9bf0;
}
/* Image{
    background-image: url("blindbargin/src/components/Jumbotron/double B.png");
} */
