.navbar{
    font-size: 25px;
    border-top-color: rgb(245,7,7);
    border-top-width: 15px;
    border-top-style: double;
    border-block-end-color: rgb(245, 7, 7);
    border-bottom-width: 15px;
    border-bottom-style: double;
    opacity: .9;
}